---
layout: layout.liquid
title: Home
---

<div x-data="{names: ['Mike', 'Bob', 'Carl', 'Jared', 'Luke', 'Juliet', 'Anna', 'Jack', 'Tanner', 'Dylan'], 
              currentName: 'Test',
              showName: false,
              generateRandomName() {
                  this.currentName = this.names[Math.floor(Math.random() * 10)];
                  this.showName = true;            
              }
            }">
    <button id="randomButton" @click="generateRandomName()">Display</button>
    <h1 x-text="currentName" x-show="showName"></h1>
</div>
