body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
    margin-top: 30px;
}

#randomButton {
    /* height: 70px;
    width: 150px; */
    font-size: 4em;
    padding: 20px;
    background-color: #EAE8FF;
    color: #42312d;
    border: none;
    border-radius: 15px;
    margin-top: 50px;
    transition-duration: 0.4s;
}


#randomButton:hover {
    background-color: #04AA6D;
    color: #EAE8FF;
}